//color variables
$base-color: #076ae0;
$base-bg: #FFFFFF;
$base-accent: #090d26;
$primary-color: #076ae0;
$danger-color: #ff4d58;
$info-color: #fcd26f;
$success-color: #538a53;
$base-box-shadow:  0 0 10px rgba(0, 0, 0, 0.4);

//soft reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $base-accent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

//buttons
.button {
  border: 1px solid $base-accent;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  &-info{
    color: $base-accent;
    background-color: $info-color;
    border: none;
  }
  &-danger {
    color: $base-bg;
    background-color: $danger-color;
    border: none;
  }
  &-success {
    color: $base-bg;
    background-color: $success-color;
    border: none;
  }
  &-primary {
    color: $base-bg;
    background-color: $primary-color;
    border: none;
  }
  &:hover {
    box-shadow: $base-box-shadow;
  }
}